*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}

:root{
    --rellenos-laterales: 50px 120px 50px 120px;
    
}

.header-top{
    height: 60px;
    padding: var(--rellenos-laterales);
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 40px;
    
}


.espacio{
    display: none;
}
.header-top a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.header-top .casco{
    color: #ff5e14;
}

.header-top .lista-industrial{
    display: flex;
    font-size: 17px;
    gap: 20px;
}

.header-top .lupa{
    padding-left: 280px;
    color: #ff5e14;
}

.header-top .request-quote b{
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    color: #ff5e14;
}

.header-top .request-quote b:hover{
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    color: white;
    background-color: #ff5e14;
    transition: all .5s;
}

.header-top input, .header-top .menu-lista{
    display: none;
}

/*Media Queries*/

@media(max-width: 767px){


    .header-top{
        display: flex;
        padding: 0px 20px 0px 20px;
        font-size: 16px;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
    }
    
  .header-top .titulo{
    width: 80px;
  }

    .header-top h2{
        font-size: 18px;
    }
    

    .header-top .lupa{
        display: none;
    }

    .header-top .request-quote{
        display: none;
    }

    .header-top .espacio{
        width: 35%;
        display: flex;
        
    }

    .header-top .lista-industrial{
        display: none;
        
    }

    .header-top .caja-lista .lista-industrial .item-lista-indus a{
        color: black;
    }

    .header-top .menu-lista{
        display: flex;
        background-color: #ff5e14;
        padding: 5px;
        border-radius: 5px;
        color: white;
    }
    

    .header-top .caja-lista{
        position: absolute;
        margin-top: 70%;
        width: 42vh;
        
    }
    .header-top  input:checked ~  .caja-lista .lista-industrial{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .header-top .caja-lista .lista-industrial .item-lista-indus a:hover{
        color: #ff5e14;
        transition: all .5s;
    }
    

    
    
        
    }


.slider{
    display: flex;
    width: 100%;
    height: 80vh;
    margin-top: -100px;     
    flex-direction: column;
    animation-name: fondo;
    transition: all .5s !important;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-image: url("https://p.w3layouts.com/demos_new/template_demo/31-05-2021/secttore-liberty-demo_Free/1583613375/web/assets/images/banner2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes fondo{
    50%{
        background-image: url("https://p.w3layouts.com/demos_new/template_demo/31-05-2021/secttore-liberty-demo_Free/1583613375/web/assets/images/banner1.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    100%{
        background-image: url("https://www.eurojoaquin.es/wp-content/uploads/2021/04/carpinteria-eurojoaquin-ebanisteria-logrono.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 200px;
    margin-top: 200px;
    margin-left: 100px;
    color:rgb(255, 255, 255);
}

div h1{
    font-size: 70px;
}
div h2{
    font-size: 30px;
}

.iconos{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 50px;
    padding-left: 100px;
    padding-top: 30px;
    gap: 40px;
}

.width img{
    display: flex;
    width: 60px;
    height: 60px;
}
.width{
    display: flex;
    color:rgb(255, 255, 255);
}
.width p{
    font-size: 20px;
}

@media  (max-width: 700px) {
    .slider{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 80vh;
        padding-top: 50px;
    }
    
    .texto{
        display: flex;
        width: 300px;
        height: 150px;
        margin-top: 30px;
        margin-left: 50px;
    }
    .texto h1{
        font-size: 30px;
    }
    .texto p{
        font-size: 20px;
    }
    .iconos{
        display: flex;
        flex-direction: column;
        width: 10px;
        height: 30px;
        padding-left: 50px;
        padding-top: 0px;

    }
    
    .width img{
        display: flex;
        width: 40px;
        height: 40px;
    }
    .width{
        display: flex;
        color:rgb(255, 255, 255);
    }
    .width p,h2{
        font-size: 18px;
    }

}


.cajas{
    background-color: #FFFFFF;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 543.7px;
    margin: 0 auto;
}
.caja h4{
    background-color: rgba(0, 0, 0, 0.5);
    }

.c1 h6{
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    line-height: 1.5;
    color: rgb(255, 94, 20);
    }

.c1 h3{
    background: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.2;
    font-size: xx-large;
    width: 480px;
    height: 201px;
}

.c2 p{
    background: #FFFFFF;
    width: 480px;
    height: 230px;
}

.c3 h4{
    background-image: url(https://www.inerco.com/blog/wp-content/uploads/2019/04/iStock-922601466.jpg);
    background-blend-mode: darken;
    text-align: justify;
    line-height: 225px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 319.98px;
    height: 213.48px;
    background-size: cover;
    background-position: center;
}

.c4 h4{
    background-image: url(https://www.impulsonegocios.com/wp-content/uploads/2021/01/ACTIVIDAD-INDUSTRIAL.jpg);
    background-blend-mode: darken;
    text-align: center;
    line-height: 225px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 319.98px;
    height: 213.48px;
    background-size: cover;
    background-position: center;
}

.c5 h4{
    background-image: url(https://www.tessissac.com/img/otros/industria-otros.jpg);
    background-blend-mode: darken;
    text-align: center;
    line-height: 225px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 319.98px;
    height: 213.48px;
    background-size: cover;
    background-position: center;
}

.texto1{
    display: flex;

}

.texto2{
    display: flex;
}

.lorem{
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #A9B0B4;
    font-family: 'Work Sans', sans-serif;
}


@media (max-width: 850px){
    .cajas{
        background-color: #F7F7F7F7;
        padding: 20px;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .texto2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.contenedor-principal-seccion-3{
    display: flex;
    background-color:#f6f6f6;
    align-items: center;
    height: 600px;
    justify-content: center;
    padding-right: 130px;
}

.img-1{
    display: flex;
    width: 70%;
    margin: 90px ;
    padding-top: -40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 

.img-1:hover{
    display: flex;
    width: 75%;
    margin: 90px ;
    padding-top: -40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s;
    
}   


.cj-img-1{
    width: 50%;
    padding-left: 15px;
    padding-right: 48px;
    padding-bottom: 80px;
}

.cj-ul-2{
    width: 50%;
    padding-right: 120px;
    padding-left: 60px;
}

.title-1{
    color: #ff5e14;
    font-size: 16px;
}

.title-2{
    font-size: 36px;
    display: flex;
    align-content: space-around;
}
.parra-seccion-3{
    font-size: 17px;
}

.lista-madre{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 0px 10px 0px 0px;
    gap: 20px;

}

.icono{
    color: #ff5e14;
    margin: 10px;
}

.boton-seccion-3{
    background: #ff5e14;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
}



